@mixin center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding-small $padding-medium;
  border: none;
  border-radius: 5px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-family: $font-main;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  padding: 0px 15px 0px 15px;
  &.disabled {
    background-color: $grey-light; 
    color: $white; 
    border: 1px solid $grey-light;
    cursor: not-allowed; 
    pointer-events: none; 
  }
  &:hover {
    background-color: darken($bg-color, 10%);
  }
}
